
{% extends 'security/mail/base.html'%}
    {% load i18n %}

    {% block contenido %}

              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>

                        {% autoescape off %}

                          <p>
                          To initiate the password reset process for your {{ user.get_username }} Open Budget Account,
                          click the link below:
                          </p>

                          <p>
                          <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                          <tbody>
                            <tr>
                              <td align="left">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td> 
                                        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" target="_blank">Reset Password</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                          </p>
                          
                          <p>
                          If clicking the link above doesn't work, please copy and paste the URL in a new browser
                          window instead.
                          </p>

                          <p>
                          Sincerely,<br>
                          The Open Budget Team
                          </p>
                        {% endautoescape %}
                        
                      <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                          <tbody>
                            <tr>
                              <td align="left">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td> 
                                          <!-- btn -->
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

    {% endblock %}
