    {% extends "security/base_security.html" %}
    {% load i18n %}
    {% load socialaccount %}
      
      {% block head_title %} Welcome to Open Budget {% endblock %}

      {% block title_content %}

        <h1><strong>Open Budget</strong> Login Application Form</h1>
        <div class="description">
          <p>
            {% trans "This is a free application to  <strong>manage your personal finance</strong>  allowing you to know quickly where you are spending your money and limit expenses by category and periodicity." %}
          </p>
        </div>

      {% endblock %}

      {% block content %}

      {% if form.errors %}
        <p id="error-msg">
          
          {{form.errors}}

        </p>
      
      {% endif %}

      <div class="form-box">
          <div class="form-top">
            <div class="form-top-left">
              <h3>{% trans "Login to our site" %}</h3>
                <p>Enter username and password to log on:</p>
            </div>
            <div class="form-top-right">
              <i class="fa fa-key"></i>
            </div>
          </div>
          <div class="form-bottom">
              <form role="form" action="" method="post" class="login-form">
                {% csrf_token %}
                <div class="form-group">
                  <label class="sr-only" for="form-username">Username</label>
                    <input id="id_username" type="text" name="username" placeholder="Username..." class="form-username form-control">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-password">Password</label>
                    <input id="id_password" type="password" name="password" placeholder="Password..." class="form-password form-control">
                </div>
                  <button type="submit" class="btn">Sign in!</button>
              </form>
          </div>
      </div>
                    
      <div class="social-login">
          <h3>...or login with:</h3>
          <div class="social-login-buttons">
            <a class="btn btn-link-1 btn-link-1-github" href="{% provider_login_url 'github' %}">
              <i class="fa fa-github"></i> Github
            </a>
            <a class="btn btn-link-1 btn-link-1-facebook" href="#">
              <i class="fa fa-facebook"></i> Facebook
            </a>
            <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
              <i class="fa fa-google-plus"></i> Google Plus
            </a>
          </div>
      </div>


      <div>
    		<p class="signup-helper">
    	      ¿New in Open Budget?
    	      <a id="id_register_now" href="{%url 'accounts:register' %}">Register Now »</a>
    		</p>
      </div>


  {% endblock %}