

    {% extends "security/base_security.html" %}
    {% load i18n %}
    {% load account socialaccount %}
    {% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}
      {% block title_content %}
        <div class="description">
          <p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
          </p>
          <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
          </p>
        </div>

      {% endblock %}