    {% extends "security/base_security.html" %}
    {% load i18n %}
    {% load socialaccount %}
      
      {% block head_title %} Welcome to Open Budget {% endblock %}

      {% block title_content %}

        <h1><strong>
        Open Budget
      </strong> Reset Password Form</h1>


      {% endblock %}

      {% block content %}

      {% if form.errors %}
        <p id="error-msg">
          
          {{form.errors}}

        </p>
      
      {% endif %}

      <div class="form-box">
          <div class="form-top">
            <div class="form-top-left">
              <h3>{% trans "Forgot password" %}</h3>
                <p>Enter username and password to log on:</p>
            </div>
            <div class="form-top-right">
              <i class="fa fa-key"></i>
            </div>
          </div>
          <div class="form-bottom">
              <form method="post" action=".">
                {% csrf_token %}

                <div class="form-group">
                  <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                    <input type="text" name="email" placeholder="{% trans 'Email' %}" class="form-username form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4 col-xs-offset-8">
                    <div class="form-group text-right">
                      <button class="btn btn-success text-uppercase" type="submit">{% trans "Submit" %}</button>
                    </div>
                  </div>
                </div>
              </form>
              <div>
                <a href="/">Go back to Login Form...</a>
              </div>
          </div>
      </div>



  {% endblock %}