 {% load static %} 
{% load i18n %}
<div class="sidebar" data-color="green" data-image="{% static 'assets/img/sidebar-.jpg' %}">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Open Budget
                </a>
            </div>

            <ul class="nav">
                <li class="">
                    <a href="{% url 'dashboard' %}">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'budget:transaction_list' %}">
                        <i class="pe-7s-note"></i>
                        <p>{% trans "Transactions" %}</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'budget:account_list' %}">
                        <i class="pe-7s-wallet"></i>
                        <p>{% trans "Accounts" %}</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'budget:list' %}">
                        <i class="pe-7s-cash"></i>
                        <p>{% trans "Budgets" %}</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'budget:reports' %}">
                        <i class="pe-7s-news-paper"></i>
                        <p>{% trans "Reports" %}</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="pe-7s-settings"></i>
                        <p>{% trans "Settings" %}</p>
                    </a>
                </li>

                <li class="active-pro">
                    <a href="upgrade.html">
                        <i class="pe-7s-rocket"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li>
            </ul>
        </div>

</div>