{% extends 'base_template.html' %}
{% load i18n %}

{% block content %}

 <div class="card">
    {% if accounts %}
            <div class="header">
                <h4 class="title">{% trans "Accounts" %}</h4>
                <p class="category">{% trans "Account List" %}</p>

            </div>
            <div class="content table-responsive table-full-width">
                <table id="id_list_table" class="table table-hover table-striped">
                 <thead>
                    <tr role="row"><th>Name</th><th>Type</th><th>Balance</th><th class="text-center">Action</th></tr>
                </thead>
                <tbody>
                    {% for account in accounts %}
                        <tr class="">
                            <td class="sorting_1">
                                {% if budget.user_insert != request.user %}
                                    <i class="fa fa-globe" title="Shared"></i>
                                {% endif %}
                                {{account.name}}
                            </td>
                            <td>{{account.account_type}}</td>
                            <td>{{account.balance}}</td>
                            <td class="td-actions text-center">
                                {% if budget.user_insert == request.user %}
                                    <a id="link-update-{{account.pk}}" rel="tooltip" title="" class="btn btn-info btn-simple btn-xs" data-original-title="Edit Account" href="{% url 'budget:account_update' account.pk %}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a id="link-delete-{{account.pk}}" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Remove" href="{% url 'budget:account_delete' account.pk %}">
                                        <i class="fa fa-times"></i>
                                    </a>
                                {% else %}
                                    <a href="#" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="View">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %} 
                </tbody>
                </table>
                <div class="text-center">
                    <a href="{% url 'budget:account_add' %}" class="btn btn-info btn-fill">{% trans "New Account" %} +</a>
                </div>
            </div>


    {% else %}

            <div class="header">

            </div>
            <div class="content table-responsive table-full-width">
                
                <div class="display_message text-center">
                    
                    <h1 class="msg_no_accounts text_display">{% trans "There are not accounts created" %}</h1>
                    <h3>{% trans "Please click on the button below to create one" %}</h3>
                    <a href="{% url 'budget:account_add' %}" class="btn btn-primary">
                        {% trans "New Account" %}
                    </a>
                </div>

            </div>

    {% endif %}

    </div>
{% endblock %}

{% block extra_js %}

    <script type="text/javascript">
    $(document).ready(function() {
        $('#id_list_table').DataTable();
    } );
    </script>
{% endblock %}