{% extends 'base_template.html' %}
 {% load staticfiles %}
{% load i18n %}
{% load humanize %}

{% block content %}

 <div class="card">

    <div class="header">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link done" href="#">1. Basic Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">2. Budget Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">3. Budget Resume</a>
          </li>
        </ul>
    </div>


    <div class="content">

        <form method="post" novalidate="novalidate">
          {% csrf_token %}

            <table class="table">
                <tr>
                    <th>{% trans "Category" %}</th>
                    <th>{% trans "Budgeted" %}</th>
                </tr>
                {% for object in object_list %}

                    {% ifchanged %} 
                        <tr>
                            <td colspan="2">
                                <h4 class="title">
                                    {{object.subcategory.category.name}}
                                </h4>
                            </td>
                        </tr>
                    {% endifchanged %}
                    <tr>
                        <td>{{object}}</td>
                        <td>
                            <input class="form-control input-sm" id="id_subcategory{{subcategory.pk}}" type="text" name="{{object.subcategory.name}}" value="{{object.amount}}">
                        </td>
                    </tr> 
                {% endfor %}
            </table>
            <div class="row">
                <div class="col-md-12 text-right">
                    <a class="btn btn-default" href="{% url 'budget:update' budget.pk %}">{% trans "Prior" %}</a>
                    <input class="btn btn-warning" type="submit" value="Next" />
                </div>
            </div>

        </form>
    </div><!-- panel body -->

</div>


{% endblock %}


{% block extra_js %}
  
  <script src="{% static 'budget/modal_transaction_details.js' %}"></script>
  
{% endblock %}