{% extends 'base_template.html' %}
 {% load staticfiles %}
{% load i18n %}
{% load humanize %}

{% block content %}

 <div class="card">

    <div class="header">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link done" href="#">1. Basic Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link done" href="#">2. Budget Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">3. Budget Resume</a>
          </li>
        </ul>
    </div>


    <div class="content">

            <h4 class="title">{{object}}/{{object.year}}</h4>
            <p class="category">{{object.period_type}}</p>
            <p class="category">
                {% for item in object.accounts.all %}
                    {{item}} &nbsp; &nbsp;
                {% endfor %}
            </p>

            <table id="budget-table" class="table table-bordered">
                <th>{% trans "Category" %}</th>
                <th>{% trans "Budgeted" %}</th>
                    {% for object in object_list %}
                      <tr>
                        <td>{{object.subcategory__category__name}}</td>
                        <td>{{object.amount|intcomma}}</td>
                      </tr>
                    {% endfor %}
            </table>


            <div class="row">
                <div class="col-md-12 text-right">
                    <a class="btn btn-default" href="{% url 'budget:budget_global_details' object.pk %}">{% trans "Prior" %}</a>
                    <a class="btn btn-success" href="{% url 'budget:list' %}" />{% trans 'Confirmed Budget' %}</a>
                </div>
            </div>

    </div><!-- panel body -->

</div>


{% endblock %}


{% block extra_js %}
  
  <script src="{% static 'budget/modal_transaction_details.js' %}"></script>
  
{% endblock %}