{% extends 'base_template.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

 <div class="card">

    <div class="header">
        <h4 class="title">{% trans "New Transaction" %}</h4>
        <p class="category">{% trans "transaction data" %}</p>

        {% if messages %}
             {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} fade in" id="alert">
                            <button class="close" data-dismiss="alert"><span>×</span></button>
                            <strong id="alert-message">{{ message }}</strong>
                </div>
             {% endfor %}
         {% endif %}

    </div>


    <div class="content">

        <form method="post" novalidate="novalidate">{% csrf_token %}

          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}

          {% for field in form.visible_fields %}
            <div class="form-group">
              {{ field.errors }}
              {{ field.label_tag }}
              {{ field }}
              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
          {% endfor %}
            <a class="btn btn-default" href="{% url 'budget:transaction_list' %}">{% trans "Cancel" %}</a>
            <input name="_continue" class="btn btn-default" type="submit" value="Save and add another" />
            <input name="_save" class="btn btn-success" type="submit" value="Save" />
        </form>
    </div><!-- panel body -->

</div>

{% endblock %}

{% block extra_js %}

  <script>
  $( function() {
      
      $('.datepicker').Zebra_DatePicker({
      });

    });

  </script>

  <script type="text/javascript" src="{% static 'budget/category_filter.js' %}"></script>

{% endblock %}