.nav-pills .nav-link.pending, .nav-pills .show>.nav-link {
    color: #fff;
    border-right-width: 2px;
    padding-right: 16px;
    margin-right: 20px;
}

.nav-pills .nav-link.done, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: rgba(143, 193, 75, 0.6);

    border-right-width: 2px;
    padding-right: 16px;
    margin-right: 20px;

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #8FC14B;
        border-right-width: 2px;
    padding-right: 16px;
    margin-right: 20px;
}