{% load humanize %}
<div class="row">
    <div class="col-xs-12">
                <table id="id_list_table" class="table table-hover table-striped">
                 <thead>
                    <tr role="row">
                        <th>Transaction</th>
                        <th>Place</th>
                        <th>Date</th><th>Amount</th>                       
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in object_list %}
                        <tr class="">
                            <td class="sorting_1">
                                {{transaction.subcategory}}<br>
                                <small>{{transaction.account}}</small>
                            </td>
                            <td>{{transaction.place}}</td>
                            <td>{{transaction.date_display}}</td>
                            <td>
                                {{transaction.amount|intcomma}}&nbsp;{{transaction.currency.name}}
                                {% if transaction.account.currency.pk != transaction.currency.pk %}
                                    <br><small>{{transaction.amount_account}} &nbsp; {{transaction.account.currency.name}}</small>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %} 
                </tbody>
                </table>
    </div>
</div>

<div class="row">
    
    <div class="col-xs-3 col-xs-offset-10">
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
    </div>

</div>