{% load i18n %}
{% load humanize %}
<div class="row">
    <div class="col-xs-12">

          <form method="post" action="{{url_action}}">
            {% csrf_token %}

          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}

          {% for field in form.visible_fields %}
            <div class="form-group">
              {{ field.errors }}
              {{ field.label_tag }}
              {{ field }}
              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
          {% endfor %}

            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input class="btn btn-success" type="submit" value="Save" />
        </form>
    </div>
</div>

