<div class="modal fade" id="modal-to-purchase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Filter Transaction by Dates</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>