{% extends 'base_.html' %}
{% load i18n %}

{% block content %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
				
					{% if accounts %}
						
						<table>
							<th>Name</th>
							<th>Type</th>
							<th>Balance</th>
							<th>Last update</th>
							<th>Options</th>
						</table>

					{% else %}
						
						<div class="display_message">
							
							<h1>{% trans "There are not accounts created" %}</h1>
							<h3>{% trans "Please click on the button below to create one" %}</h3>
							<a href="#" class="btn btn-primary">
								{% trans "New Account" %}
							</a>
						</div>

					{% endif %}

				</div>
			</div>
		</div>
	</div>

{% endblock %}