<div class="col-lg-3 col-sm-6">
    <div class="card">
        <div class="content">
            <div class="row">
                <div class="col-xs-5">
                    <div class="icon-big icon-success text-center">
                        <i class="ti-wallet"></i>
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="numbers">
                        <p>Cuenta Familiar</p>
                        <p>
                            <span class="stats">10%</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer">
                <hr />
                    <div class="numbers">
                        <p>$15,700.00</p>
                    </div>
            </div>
        </div>
    </div>
</div>
 