{% load i18n %}
{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Open Budget</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    {% include 'base/css.html' %}
    
</head>
<body>
	<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            {% include 'sidebar.html' %}
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            {% include 'navbar.html' %}
        </nav>
		
		<div class="content">
			{% block content %}	
			{% endblock %}
		</div>


		{% include 'footer.html' %}

    </div>
</div>
    {% include 'base/js.html' %}

</body>

</html>