{% extends "base_template.html" %}
 {% load staticfiles %}
{% load i18n %}
{% load humanize %}


<script>
{% block jquery %}

var period = $('#id_period').val()
var endpoint = '/api/v1/chart_data_budget/'+ period + '/'
var endpoint_table = '/api/v1/activity_data_budget/'+ period + '/'

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels,
        defaultData = data.default,
        bgColors = data.bg_colors,
        lnColors = data.ln_colors
        setChart()
        setPie()
    },
    error: function(error_data){
        console.log("error ")
        console.log(error_data)
    }
})


$.ajax({
    method: "GET",
    url: endpoint_table,
    success: function(data){
        fill_table(data)
    },
    error: function(error_data){
        console.log("error ")
        console.log(error_data)
    }
})


function fill_table(data)
{
    var table = $('#comparative_table');

    for (var index = 0; index < data.length; ++index) {

        table.append('<tr>' +
            '<td><p class="text-'+ data[index].color +'"><i class="'+data[index].icon+'"></i> &nbsp;'+ 
            data[index].category +'</p></td>' +
            '<td>'+ data[index].budgeted +' '+ data[index].currency + '</td>' +
            '<td>'+ data[index].activity + ' '+ data[index].currency + '</td>' +
            '<td>'+ data[index].available + ' '+ data[index].currency + '</td></tr>')
    }//end for

}// end function fill_table

function setChart()
{

    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type:'bar',
        data: {
            labels: labels,
            datasets: [{
                label: '# Budget',
                data: defaultData,
                backgroundColor: bgColors,
                borderColor: lnColors,
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        max: 100
                    }
                }]
            }
        }
    })


}//end setChart

function setPie()
{

    var ctx = document.getElementById("myPie").getContext('2d');
    var myChart = new Chart(ctx, {
        type:'pie',
        data: {
            labels: labels,
            datasets: [{
                label: '# Budget',
                data: defaultData,
                backgroundColor: bgColors,
                borderColor: lnColors,
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        max: 100
                    }
                }]
            }
        }
    })


}

$( "#id_period" ).change(function() {
  changePeriod($( this ).val())
});

function changePeriod(period_selected){
    var url = '/dashboard/'
    var budget = $('#id_budget').val()
    if (period_selected && budget)
        this.document.location.href = url + budget +'/'+ period_selected +'/';
}

{% endblock %}  

</script>

{% block content %}

     <div class="card">

        <div class="row">
        <div class="col-xs-4">
            <div class="header">

                    <table class="">
                    <tr>
                    <form method="post" novalidate="novalidate" class="form-inline">
                      {% csrf_token %}

                      {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                      {% endfor %}

                          {% for field in form.visible_fields %}
                                <td>
                                <div class="form-group">
                                  {{ field.errors }}

                                  {{ field }}
                                  {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                  {% endif %}
                                </div>
                                </td>
                                <td>&nbsp;</td>
                          {% endfor %}

                    </form>
                    </tr>
                    </table>
            
            </div>
        </div>
        </div>

    </div>

    <div class="row">

            <div class="col-xs-6">

                    <div class="card">
                        <div class="content">

                            <canvas id="myChart" width="420" height="420"></canvas>

                        </div>
                    </div>
                
            </div>   

            <div class="col-xs-6">
                    <div class="card">
                        <div class="content">

                            <canvas id="myPie" width="400" height="400"></canvas>

                        </div>
                    </div>
            </div> 

    </div> 

    <div class="row">
        
        <div class="col-xs-12">
            
        <div class="card">
            <div class="content">
                <div class="table-responsive">
                    <table class="table table-striped" id="comparative_table">
                        <tbody>
                        <th>{% trans "Category" %}</th>
                        <th>{% trans "Budgeted" %}</th>
                        <th>{% trans "Activity" %}</th>
                        <th>{% trans "Available" %}</th>
                        {% for object in object_list %}
                          <tr>
                            <td>
                 
                              <p class="text-{{object.category.icon.color.css}} ">
                                <i class="{{object.category.icon.css}}"></i>
                                {{object.category}}
                              </p>
                            </td>
                            <td>{{object.budgeted|intcomma}}</td>
                            <td><a href="{% url 'budget:report_subcategories' object.budget.pk object.category.pk object.period.pk %}">{{object.activity|intcomma}}</a></td>
                            <td>{{object.available|intcomma}}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        </div>

    </div>


{% endblock %}


{% block extra_js %}
  
  <script src="{% static 'budget/periods_filter.js' %}"></script>
  
{% endblock %}